@font-face {
  font-family: letrapalpancho;
  src: url("../../../gothamlight.otf");
}

* {
  font-family: letrapalpancho;
}

.container-directorio {
  float: right;
  width: 68%;
  margin-left: 2%;
}


.buscador {
  margin-top: 12px;
  float: right;
  color: darkred;
  margin-bottom: 1%;
  
}

.buscador > label{
    padding-right:20px ;
    font-weight: bolder;
}

.title-entre {
  float: left;
  padding-left: 0;
}

.title-entre h1 {
  font-family: verdana;
}

.rowDir:hover {
  background-color: rgb(177, 171, 171);
}

.contentre {
  clear: both;
}

.buscaDirect {
  border-color: 1px solid;
  margin-left: 5px;
}
