@charset "utf-8";
.tittleentre {
  margin-bottom: 0;
  margin-top: 20px;
}

@font-face {
  font-family: letrapalpancho;
  src: url("../../../gothamlight.otf");
}

* {
  font-family: letrapalpancho;
}

.tittleentre h1 {
  font-size: 50px;
  color: darkred;
}

td > .btn {
  background-color: darkred;
  color: #fff;
}

.list-groupentrepadre {
  text-align: center;
  margin-top: 8%;
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

.perfilcontent {
  position: relative;
  float: left;
  margin-left: 5%;
  width: 30%;
  z-index: 3;
  text-align: center;
}

.container-form-perfil {
  padding-top: 3%;
  margin-right: 20%;
}

.texto-foto-per {
  padding-top: 30%;
  color: darkred;
  font-size: 105%;
  font-weight: 1000;
}

.texto-b-foto-per {
  font-weight: bold;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.label-foto-per {
  color: darkred;
  font-size: 105%;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: darkred;
}

.container-button-foto-per {
  padding-top: 2%;
  padding-bottom: 2%;
}

.button-foto-per {
  border-radius: 10px;
  background-color: darkred;
  color: bisque;
}

.contentre {
  background-color: #fff;
  margin-top: 0;
  padding: 0;
  margin: auto;
}

.table {
  text-align: center;
  border-collapse: collapse;
}

.encabetable {
  font-size: 20px;
  background-color: darkred;
  color: wheat;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scrolltable1 {
  height: 500px;
  overflow-y: auto;
}

.about-cont {
  height: 230px;
  border-radius: 20px;
  text-align: center;
  padding-right: 15%;
}

.about-tex {
  margin-top: 25%;
  padding-top: 4%;
  color: darkred;
  font-size: 18px;
  line-height: 15px;
  font-style: normal;
  padding-left: 10%;
  padding-right: 10%;
  word-break: break-word;
}

.about-tex p {
  text-align: left;
}

.entregas-perfil {
  z-index: 0;
  position: fixed;
  right: 4;
  left: 23%;
  width: 74%;
  padding-left: 0%;
  text-align: center;
}

.centrar-kpis {
  padding-left: 10%;
}

.progress-element {
  margin: auto;
  text-align: left;
  width: 75%;
}

progress {
  opacity: 0;
}
.progress-container-1 {
  position: relative;
  display: inline-block;
  background: #eee;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

.progress-container-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  background: darkred;
}
.progress-container-2 {
  position: relative;
  display: inline-block;
  background: #eee;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

.progress-container-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background: darkred;
}
.progress-container-3 {
  position: relative;
  display: inline-block;
  background: #eee;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

.progress-container-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: darkred;
}

.progress-label {
  position: relative;
}

.progress-label::after {
  content: "75%";
  position: absolute;
  top: 0;
  right: 0;
}
.progress-label-2 {
  position: relative;
}
.progress-label-2::after {
  content: "25%";
  position: absolute;
  top: 0;
  right: 0;
}
.progress-label-3 {
  position: relative;
}
.progress-label-3::after {
  content: "50%";
  position: absolute;
  top: 0;
  right: 0;
}

.botonCambiarImg {
  margin-top: 5%;
}

.img-Perfil-e {
  margin-top: 5%;
  max-width: 20%;
  min-width: 70%;
}
.button-certi {
  background-color: var(--line-border-fill);
  color: #fff;
}
