@font-face {
  font-family: letrapalpancho;
  src: url("../../../gothamlight.otf");
}

* {
  font-family: letrapalpancho;
}


.container-general-peradmin {
  padding-right: 5%;
  margin-top: 8%;
}

.perfilcontent-admin {
  float: left;
  width: 30%;
  text-align: center;

}






