@font-face {
  font-family: letrapalpancho;
  src: url("../../../gothamlight.otf");
}

* {
  font-family: letrapalpancho;
}

.list-groupentrepadre-adm {
  text-align: center;
  margin-top: 8%;
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

.perfilcontent-adm {
  position: relative;
  float: left;
  margin-left: 5%;
  width: 30%;
  z-index: 3;
  text-align: center;
}

.about-cont-adm {
  height: 230px;
  border-radius: 20px;
  text-align: center;
  padding-right: 15%;
}

.about-tex-adm {
  padding-top: 4%;
  color: darkred;
  font-size: 13px;
  line-height: 15px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}
.cambiarletra {
  font-family: sans-serif;
}

.title-mkpis {
  color: darkred;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

.container-button1 {
  padding-top: 4%;
}

.img-Perfil-e2 {
  height: 100%;
  padding-left: 10%;
}

.button-certi {
  background-color: darkred;
  color: #fff;
}
.button-certi:disabled {
  background-color: #bdbdbd;
  color: #fff;
}
