.MostrarKPIPAPA{
    margin:auto;
    width: 80%;
        
}



.imgMedKPI{
    width: 100px;
}

.imgMedKPI:hover{

    filter: brightness(0.7);
}

.tableNumCerti{
    font-size: xx-large;
    font-weight: 800;
    margin: auto;
    text-align: center;

}

.pieChart{
    width: min-content;
}
