

.pop-Up-Intrucciones > h1{
    font-size: x-large;
    font-weight: bold;
}

.container-entregas {
  float: right;
  left: 200px;
  width: 70%;
}

.title-entre {
  color: darkred;
}
.nombre-entrega:hover{
    color: red;
    cursor: pointer;
    background-color: rgb(250, 223, 223);
}

.title-med-ent{
  color:  darkred;
  padding-top: 2%;
}

.medalla {
  width: 70px;
}
.container-med-ent {
  padding-left: 10%;
}
.progress-container-med {
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 700px;
}

.progress-container-med::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 14.3%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress.dos {
  width: 42.5%;
}
.progress.tres {
  width: 71.5%;
}

.progress.cuatro {
  width: 100%;
}

.circle {
  background-color: none;
  color: #999;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid #b2bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}
