@charset "utf-8";
:root {
  --line-border-fill: darkred;
  --line-border-empty: #bdbdbd;
}
.pop-Up-Intrucciones > h1 {
  font-size: x-large;
  font-weight: bold;
}

.container-entregas {
  float: right;
  left: 200px;
  width: 80%;
  text-align: center;
}

.title-entre {
  padding-left: 40%;
  color: darkred;
}
.nombre-entrega:hover {
  color: red;
  cursor: pointer;
  background-color: rgb(250, 223, 223);
}

.title-med-ent {
  color: darkred;
  padding-top: 2%;
}

.medalla {
  width: 70px;
}
.container-med-ent {
  padding-left: 1%;
}
.progress-container-med {
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 700px;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress.uno {
  width: 17.3%;
}
.progress.dos {
  width: 44.8%;
}
.progress.tres {
  width: 72%;
}
.progress.cuatro {
  width: 100%;
}
.circle {
  background-color: none;
  color: #999;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid #b2bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}
.button-certi {
  background-color: var(--line-border-fill);
  color: #fff;
}

.button-certi:disabled {
  background-color: var(--line-border-empty);
  color: #fff;
}
.button-certi-peque {
  margin-top: 6px;
  height: 30%;
  width: 40%;
  background-color: var(--line-border-fill);
  color: #fff;
}
.avisos {
  font-family: "Rockwell";
  font-size: 70%;
}
.titulo {
  font-size: 50px;
  color: darkred;
}
